/* App.css */

/* Set the default font and background color for the body */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(232, 173, 145);
  /*background-color: #f3e9e9;*/
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style for the main app container */
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

/* Style for the header section of the app */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 20px;
}

/* Style for the main content area */
.App-main {
  width: 50%;
  max-width: 800px;
  background: #ffffff;
  /*background: #e6c6a7;*/
  /*background-color: #e6c6a7;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style for the table in the main content area */
.App-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

/* Style for table headers and cells */
.App-table th, .App-table td {
  border: 1px solid #ddd;
  border-bottom: #ffffff 10px solid;
  padding: 12px;
  text-align: left;
  font-size: 20px;
}

/* Style for table headers */
.App-table th {
  /*background-color: #007bff;*/
  background-color: rgb(232, 173, 145);
  color: white;
  font-weight: bold;
}

/* App.css */
.bold-row {
  font-weight: bold;
}

/* Style for even rows in the table */
.App-table tr:nth-child(odd) {
  background-color: #cdcdcd;
}

/* Style for even rows in the table */
.App-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table rows on hover */
.App-table tr:hover {
  background-color: #918c8c;
}



/* Style for the logo image */
.logo {
  width: 300px;
  height: auto;
  margin-bottom: 100px;
}

/* Style for the date elements in the header */
.date-english, .date-arabic, .date-bangla {
  font-size: 25px;
  margin-bottom: 7px;
}

.remaining-time{
  font-size: 25px;
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
}
/* Style for the current time element */
.current-time {
  font-size:  100px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the footer */
.App-footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: auto;
}

/* Media query for screens with a max width of 600px */
@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  .App-main {
    width: 100%;
  }

  .App-table thead {
    display: none;
  }

  .App-table, .App-table tbody, .App-table tr, .App-table td {
    display: block;
    width: 100%;
  }

  .App-table tr {
    margin-bottom: 15px;
  }

  .App-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .App-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  /* Style for the date elements in the header */
  .date-english, .date-arabic, .date-bangla {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .remaining-time{
    font-size: 15px;
    margin-bottom: 2px;
    color: red;
    font-weight: bold;
  }
  .logo {
    margin-bottom: 40px;
  }
  /* Style for the current time element */
  .current-time {
    font-size:  40px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 480px) {
  .current-time {
    font-size: 30px;
  }
  .logo {
    margin-bottom: 30px;
  }
}

/* Mobile devices (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .current-time {
    font-size: 40px;
  }
  .logo {
    margin-bottom: 30px;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .current-time {
    font-size: 50px;
  }
  .logo {
    margin-bottom: 30px;
  }
}

/*!* Desktops *!*/
/*@media only screen and (min-width: 1025px) {*/
/*  .current-time {*/
/*    font-size: 60px;*/
/*  }*/
/*}*/